@charset "UTF-8";
/* CSS Document */

          .wrapper{background:#000000;
		      }
         
		 .main_nav a{
		     display:inline-block; 
			  margin:10px 55px 20px 55px;
			  }
			  
		  li{display:inline-block;
		   background:#FAF3F3;
		   float:left;
		   width:236px;
		   height:38px;
		   padding-left:50%;
		   padding-right:50%;
		   text-align:center;
		   border:1px solid black;
		   }
		  
		  .color_a{display:inline-block;
		   background:#EC9A9B;
		   width:236px;
		   height:38px;
		   padding:0px;
		   text-align:center;
		   border:1px solid black;
		   }
		  
		  
		 
		 .main_nav{
			  width:968px;
			  height:38px;
			  margin:auto;
			 margin-left:-15px;
			  background:#7AAFD0;
			  border:1px solid white;
			  }
			  
	     ul{padding:0;
		 }


          .header{background:      		     			             url('images/header.jpg')no-repeat;
			 width:980px;
			 height:108px;
			 margin:auto;
			 }
			 
             img{
				 border:1px solid white;
			 }
			 
			 p{color:#FCF6F6;
			   font-size:14px;
			   text-align:center;
			   padding:0px;
			 }
	   	  
          	
		  
		  
		  
